h1{
    color: blue;
}

h2{
    color: red;
}

p{
    font-size: 15px;
    font-weight:bold;
    background-color: orange;
}
body{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    
}